<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="consumerKey" value="yFF8wDJwMfhyYSiamzYdXGAhd" />
    <add key="consumerSecret" value="MLtmXyHMmSJkjDyPbdeeatIRRZBy7bJpxcRVlksqLEJNqRLJyx" />
    <add key="accessToken" value="767753140099743745-Ri8AJvsqWIICjhFy15oTA103edOBWlC" />
    <add key="accessTokenSecret" value="S6VZooxwm9JD88my3bhDlvSwO0gRRgVLZwzmlaaze6fI3" />
 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>